.searchBars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: antiquewhite;
}

.searchBars input {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchBars button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
